* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mochiy Pop One', sans-serif;
}

header {
    background: #141a41;
    color: white;
}

header h1 {
    font-size: 1.5rem;
    padding: 1em;
    text-align: center;
}

main {
    background: #ede2fb;
    height: calc(100vh - 83px);
    padding: 25px 1em;
}

main h2 {
    color: #1e1318;
    height: 50px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    margin: 50px auto;
}

.player--title {
    margin-bottom: 1em;
    text-align: center;
}

.player--card,
.player--card img {
    height: 250px;
    width: 250px;
}

#playBtn,
#resetBtn {
    background: #c34eb5;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    box-shadow: 15px 15px lightgrey;
    display: block;
    font-size: 1.5rem;
    height: 100px;
    margin: 0 auto;
    width: 300px;
}

#playBtn:hover,
#resetBtn:hover {
    box-shadow: none;
}

#resetBtn {
    display: none;
}

.hand,
.computerHand {
    display: none;
}

.active {
    display: block;
}

.winner {
    border: 5px solid #141a41;
}

.enterName {
    background: #c34eb5;
    display: flex;
    justify-content: center;
    padding: 1em;
}

#userName {
    border: white;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 30px;
    margin-left: 1em;
    padding: 5px;
}

#submitBtn {
    background: #fce94e;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 5px;
    -webkit-appearance: none;
}

@media screen and (max-width: 570px) {
    .player--card,
    .player--card img {
        height: 175px;
        width: 175px;
    }

    #playBtn,
    #resetBtn {
        height: 75px;
        width: 225px;
    }

    .enterName {
        flex-direction: column;
        text-align: center;
    }

    #userName {
        border-top-right-radius: 7px;
        border-bottom-left-radius: 0;
        margin-top: 10px;
        margin-left: 0;
    }

    #submitBtn {
        border-top-right-radius: 0;
        border-bottom-left-radius: 7px;
        margin-bottom: 5px;
    }
}

@media (orientation: landscape) and (max-height: 680px) {
    .container {
        max-width: 500px;
    }

    .player--card,
    .player--card img {
        height: 175px;
        width: 175px;
    }

    #playBtn,
    #resetBtn {
        height: 75px;
        width: 225px;
    }
}
